body{
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Arial';
  margin: 0;
}

header{
  background-color: #ebebeb;
  padding-top: 40px;
  padding-bottom: 136px;
/*  height: 220px;*/
}

.container{
  width: 942px;
  margin: 0 auto;
/*  outline: 1px solid yellow;*/
  position: relative;
}

.header_search{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_logo{
/*  position: relative;*/
/*  outline: 1px solid green;*/
}

.search_block{
/*  position: relative;*/
  width: 588px;
/*  outline: 1px solid green;*/
  display: flex;
  align-items: center;
  position: relative;
}

.header_nav {
/*  outline: 1px solid green;*/
/*  margin-top: 40px;*/
/*  z-index: 10;*/
  position: absolute;
  top: 86px;
  z-index: 10;
}



.header_nav a{
/*  outline: 1px solid green;*/
  padding-left: 44px;
  padding-right: 43px;
  padding-top: 60px;
  padding-bottom: 30px;
  border-right: 1px solid #d4d4d4;
  background-color: #f9f9f9;
  background: linear-gradient(to top, #d7d7d7, #ffffff);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16); 
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
  color: #707070;
  font-weight: bold;
  font-family: 'PTSans', sans-serif;
  position: relative;
/*  box-sizing: border-box;*/
}

.nav_guide::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 82px;
  width: 26px;
  height: 26px;
  background-image: url(../img/icons/icon_travelguide.png);
}

.nav_guide{
  border-bottom: 5px solid #6017a3;
}

.nav_guide:hover{
  border-bottom: 13px solid #6017a3;
}

.nav_guide:hover::before{
  background-image: url(../img/icons/icon_travelguide_active.png);
}

.nav_services::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 66px;
  width: 26px;
  height: 24px;
  background-image: url(../img/icons/icon_services.png);
}

.nav_services{
  border-bottom: 5px solid #701dbb;
}

.nav_services:hover{
  border-bottom: 13px solid #701dbb;
}

.nav_services:hover::before{
  background-image: url(../img/icons/icon_services_active.png);
}

.nav_about::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 58px;
  width: 21px;
  height: 26px;
  background-image: url(../img/icons/icon_about.png);
}

.nav_about{
  border-bottom: 5px solid #8038c2;
}

.nav_about:hover{
  border-bottom: 13px solid #8038c2;
}

.nav_about:hover::before{
  background-image: url(../img/icons/icon_about_active.png);
}

.nav_tour::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 70px;
  width: 17px;
  height: 26px;
  background-image: url(../img/icons/icon_tour.png);
}

.nav_tour{
  border-bottom: 5px solid #a34ff0;
}

.nav_tour:hover{
  border-bottom: 13px solid #a34ff0;
}

.nav_tour:hover::before{
  background-image: url(../img/icons/icon_tour_active.png);
}

.nav_howto::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 60px;
  width: 26px;
  height: 26px;
  background-image: url(../img/icons/icon_howto.png);
}

.nav_howto{
  border-bottom: 5px solid #8038c2;
}

.nav_howto:hover{
  border-bottom: 13px solid #8038c2;
}

.nav_howto:hover::before{
  background-image: url(../img/icons/icon_howto_active%20.png);
}

.nav_contact::before{
  content:'';
  position: absolute;
  top: 18px;
  left: 66px;
  width: 21px;
  height: 26px;
  background-image: url(../img/icons/icon_contact.png);
}

.nav_contact{
  border-bottom: 5px solid #701dbb;
}

.nav_contact:hover{
  border-bottom: 13px solid #701dbb;
}

.nav_contact:hover::before{
  background-image: url(../img/icons/icon_contact_active.png);
}

.header_nav a:hover{
  color: #701dbb;
  background: none;
  background-color: #ffffff;
/*  padding-top: 70px;*/
/*  box-sizing: border-box;*/
/*  position: absolute;*/
  top: -8px;
  left: 0px;
/*  box-sizing: border-box;*/
}

.search_block a{
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #d5d5d5;
  font-weight: bold;
  font-family: 'Nexa', sans-serif;
}

.quicklinks, .city_select {
  position: relative;
}

.quicklinks::after{
  content:'';
  position: absolute;
  top: -1px;
  right: -20px;
  width: 11px;
  height: 18px;
  background-image: url(../img/icons/icon_mappin.png);
}

.quicklinks:hover::after{
  background-image: url(../img/icons/icon_mappin_active.png);
}

.city_select::after{
  content:'';
  position: absolute;
  top: 2px;
  right: -20px;
  width: 8px;
  height: 14px;
  background-image: url(../img/icons/icon_city_select.png);
}

.city_select:hover::after{
  background-image: url(../img/icons/icon_city_select_active.png);
}

.search_block a:hover{
  color: #58159b;
}

.header_nav ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0px;
  list-style: none;
}





.search_block ul{
  margin: 0;
  padding: 0 0px;
  list-style: none;
  display: flex;
}





.main_slider img{
/*  outline: 1px solid green;*/
}

.title h2{
  font-size: 36px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Nexa Book', sans-serif;
  display: inline-block;
  margin-bottom: 1px;
}

.title{
/*  outline: 1px solid green;*/
  text-align: center;
  margin-bottom: 20px;
}

.advantages_block .title{
  position: relative;
  margin-bottom: 234px;
}

.advantages_block .title::after{
  position: absolute;
  content: '';
  width: 986px;
  height: 214px;
  top: 100px;
  left: -18px;;
  background-image: url(../img/map.png);
}

.screen .title::before{
  content: '';
  position: absolute;
  top: -140px;
  left: 180px;
  width: 900px;
  height: 98px;
  background-image: url(../img/advantages_big.png);
}

.screen .title{
  position: relative;
}

.team .title::before{
  content: '';
  position: absolute;
  top: 36px;
  left: 0px;
  width: 220px;
  height: 1px;
  background-color: #dedede;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1); 
}

.team .title::after{
  content: '';
  position: absolute;
  top: 36px;
  right: 0px;
  width: 220px;
  height: 1px;
  background-color: #dedede;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1); 
}



.title span{
  font-size: 14px;
  line-height: 22px;
  color: #a161db;
  font-weight: bold;
  font-family: 'Nexa', sans-serif;
  display: block;
}

.advantages_block {
  background-color: #2d2d2d;
  border-top: 1px solid #5a5a5a;
/*  padding-top: 9px;*/
  padding-bottom: 90px;
  padding-top: 20px;
}

.screen_block {
  background-color: #222222;
  padding-top: 54px;
}

.screen{
  width: 1255px;
  margin: 0 auto;
  background-image: url(../img/screenipad.png);
  background-repeat: no-repeat;
  padding-top: 290px;
  padding-bottom: 58px;
}

.advantages{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages_item {
  width: 300px;
  position: relative;
}

.advantages_item_title {
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Nexa Book', sans-serif;
  margin-top: 120px;
  position: relative;
}

.advantages_time .advantages_item_title::before{
  content: '';
  position: absolute;
  top: -110px;
  left: 116px;
  width: 76px;
  height: 76px;
  background-image: url(../img/icon_time.png);
/*
  background-repeat: no-repeat;
  background-position: -10px -118px;
*/
}

.advantages_team .advantages_item_title::before{
  content: '';
  position: absolute;
  top: -110px;
  left: 116px;
  width: 84px;
  height: 51px;
  background-image: url(../img/icon_cloud.png);
}

.advantages_design .advantages_item_title::before{
  content: '';
  position: absolute;
  top: -110px;
  left: 116px;
  width: 76px;
  height: 76px;
  background-image: url(../img/icon_box.png);
}

.advantages_time {
  width: 300px;
  position: relative;
}

.advantages_time::after{
  content: '';
  position: absolute;
  top: 46px;
  left: 240px;
  width: 140px;
  height: 3px;
  background: #6d6d6d;
}

.advantages_team {
  width: 300px;
  position: relative;
}

.advantages_team::after{
  content: '';
  position: absolute;
  top: 46px;
  left: 250px;
  width: 140px;
  height: 3px;
  background: #6d6d6d;
}

.advantages_design {
  width: 300px;
  position: relative;
}

.team {
  background-color: #ebebeb;
  padding-bottom: 17px;
  padding-top: 40px;
}

.team .title h2{
  color: #717171;
}

.team .title span{
  color: #717171;
}

.employee_image{
  border: 5px solid #ffffff;
  position: relative;
}




.team_slider_item .image{
  position: relative;
  margin-bottom: 16px;
}



.icon_twitter{
  position: absolute;
  top: 164px;
  left: 168px;
}

.team_slider_item .name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  color: #7b7b7b;
  font-weight: bold;
  font-family: 'PTSans', sans-serif;
}

.team_slider_item .job{
  font-size: 14px;
  line-height: 22px;
  color: #7b7b7b;
  font-weight: normal;
  font-family: 'PTSans', sans-serif;
}

.team_slider_items {
  display: flex;
  justify-content: space-between;
}

.team_slider_controls label{
  display:inline-block;
  width:10px;
  height:10px;
/*  margin:0 3px;*/
  background: #979797;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}

.team_slider_controls{
  position: absolute;
  top: 315px;
  left: 446px;
/*  margin-left:100px;*/
  text-align:center;
}

.team_slider input[type=radio] {
    position:absolute;
    opacity:0;
}

#btn_1:checked ~ .team_slider_controls label[for='btn_1'],
#btn_2:checked ~ .team_slider_controls label[for='btn_2'],
#btn_3:checked ~ .team_slider_controls label[for='btn_3'],
#btn_4:checked ~ .team_slider_controls label[for='btn_4']{
    background:#8f33c4;
}

.team_slider {
  position: relative;
}

footer {
  background-color: #373737;
  border-top: 4px solid #914dcf;
  padding-top: 25px;
  padding-bottom: 240px;
}



.footer_nav ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0px;
  list-style: none;
}

.footer_nav a{
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Nexa', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.footer_nav a::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 11px;
  top: 15px;
  left: -22px;
  background-color: #767676;
}

.footer_nav .footer_nav_first::before{
  display: none;
}


.footer_nav a:hover{
  border-bottom: 4px solid #914dcf;
}
.footer_nav {
  width: 404px;
  margin-left: 280px;
}

.footer_flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer_text {
  width: 452px;
  margin-top: 36px;
}

.footer_social ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0px;
  list-style: none;
}

.footer_links ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0px;
  list-style: none;
}

.footer_social {
  margin-top: 36px;
  margin-left: 96px;
  width: 292px;
}

.footer_social a{
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'PTSans', sans-serif;
}

.soc_twitter, .soc_fb, .soc_rss, .soc_mail{
  position: relative;
}

.soc_twitter::before {
  position: absolute;
  content: '';
  top: 2px;
  left: -20px;
  width: 13px;
  height: 9px;
  background-image: url(../img/icons/icon_soc_twiiter.png);
}

.soc_fb::before {
  position: absolute;
  content: '';
  top: 0px;
  left: -14px;
  width: 6px;
  height: 12px;
  background-image: url(../img/icons/icon_soc_fb.png);
}

.soc_rss::before {
  position: absolute;
  content: '';
  top: 2px;
  left: -16px;
  width: 9px;
  height: 9px;
  background-image: url(../img/icons/icon_soc_rss.png);
}

.soc_mail::before {
  position: absolute;
  content: '';
  top: 2px;
  left: -20px;
  width: 13px;
  height: 9px;
  background-image: url(../img/icons/icon_soc_mail.png);
}

.footer_links a{
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal;
  font-family: 'Helvetica', sans-serif;
}

.footer_links {
  width: 518px;
  margin-top: 46px;
}

.quicklinks {
  margin-right: 56px;
}

.city_select{
  margin-right: 44px;
}

.select {
  margin-right: 44px;
}

.top_search_input{
  box-sizing: border-box;
  width: 300px;
  padding: 14px;
  padding-left: 18px;
  font-family: 'Nexa', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  border: none;
  background-color: #ffffff;
  outline: none;
  position: relative;
  z-index: 5;
}

/*
.top_search_input::after{
  z-index: 10;
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/icon_clock.png);
}
*/

.top_search_label:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 23px;
  height: 23px;
  background: url(../img/icons/icon_clock.png);
  z-index: 10;
}



.main_slider {
  width: 1550px;
  height: 537px;
  background-image: url(../img/mainslider_img1.png);
}

.main_slider_btn {
  width: 138px;
  height: 138px;
  position: absolute;
  top: 58%;
  left: 50%;
  margin: -69px 0 0 -69px;
  display: block;
}

.image_frame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 210px;
  height: 200px;
  background: #ffffff;
  border: 5px solid #ffffff;
  transform: rotate(-3deg);
}

.team_article {
  width: 360px;
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1); 
  margin-bottom: 17px;
  position: relative;
}

.team_article h1{
  font-size: 30px;
  line-height: 30px;
  color: #252525;
  font-weight: bold;
  font-family: 'Nexa', sans-serif;
  margin: 0;
  margin-bottom: 24px;
}

.team_articles {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team_article:last-child{
  width: 940px;
}

.team_article .content {
  font-size: 12px;
  line-height: 22px;
  color: #949494;
  font-weight: normal;
  font-family: 'Nexa', sans-serif;
}

.team_article a{
  font-size: 14px;
  line-height: 25px;
  color: #6017a3;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 40px;
}



.plus_btn {
  position: absolute;
  top: 0px;
  left: 0px;
}
